.home {
    text-align: center;
    padding: 50px;
}

.home h1 {
    color: #1b4332;
    font-size: 42px;
}

.home h3 {
    color: #444;
}

.home p {
    color: gray;
    font-size: 18px;
}

.order-btn {
    background: #2e7d32;
    color: white;
    border: none;
    padding: 14px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: 0.3s;
}

.order-btn:hover {
    background: #1b5e20;
    transform: scale(1.05);
}